// Global styles
* {
  margin: 0;
  padding: 0;
  // border: 1px solid red; // Commented out
  text-decoration: none;
  list-style: none;
 // border: 1px solid red;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}