$color-primary: #ff6060;
$color-background: #000000;
$color-text: #ffffff;
$color-text-secondary: #000000;
$color-border-focus: #ff6060;
$breakpoint-mobile: 500px;

// Text
$font-family-main: "Montserrat";
$font-size: 1.2em;
$font-weight: 500;
$margin: 2% 0;