$color-primary: #ff6060;
$color-background: #000000;
$color-text: #ffffff;
$radius: 10px;
$breakpoint-mobile: 550px;

// Text
$font-family-main: "Montserrat";
$font-size: 1.2em;
$font-weight: 500;
$margin: 2% 0;