@import "base";
@import "variables";
@import "mixins";

// Header styles
.navbar {
  margin: 2% 5% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_logo {
    max-width: 10vw;
    height: auto;
    &-image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &_links {
    min-width: 25vw;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    li {
      margin: 0 5% 0;
    }
    &-link {
      font-size: 1.5vw;
      color: $color-background;
      &:focus {
        border-bottom: 1px solid $color-background;
      }
    }
  }
}

// Banner styles
.banner {
  &_section {
    width: auto;
    height: 225px;
    margin: 0 5% 5%;
    border-radius: $radius;
    background-color: $color-background;
    position: relative;

    @media screen and (max-width: $breakpoint-mobile) {
      height: 111px;
    }
  }
  &_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius;
    @include center-items-justify;
    position: relative;
    filter: brightness(50%);
  }
  &_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-text;
    font-size: 2em;
    font-weight: 500;
    font-family: $font-family-main;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 24px;
    }
  }
}

// Home styles
.container {
  width: auto;
  padding: 0 0 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @media screen and (max-width: $breakpoint-mobile) {
    flex-direction: column;
    @include center-items-justify;
  }
  .card {
    width: 340px;
    height: 300px;
    padding: 0;
    margin: 0 0 5%;
    border-radius: $radius;
    color: $color-text;
    display: flex;
    position: relative;

    &_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius;
    }

    &_title {
      max-width: 50%;
      font-size: 1.1em;
      font-weight: bold;
      font-family: $font-family-main;
      position: absolute;
      bottom: 10px;
      margin: 5% 5% 0;
    }
  }
}

// Page About styles
.modal {
  width: 80%;
  margin: 0 auto 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--housePage {
    width: 100%;
    color: $color-background;
    & > p {
      font-size: 1.5em;
      line-height: 1.5;
      font-weight: 400;
      color: $color-background;
    }
    &:first-child {
      margin-right: 2%;
    }
    &:last-child {
      margin-left: 2%;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      width: 100%;
      &:first-child {
        margin: 0 0 2%;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    width: 90%;
    margin: 0 auto 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__container {
    margin: 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
      align-items: center;
      min-width: 100%;
    }
  }
  &_title {
    width: 100%;
    height: 50px;
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    border-radius: $radius;
    background-color: $color-primary;
    @media screen and (max-width: $breakpoint-mobile) {
      width: 100%;
    }
    &--name {
      padding: 0 3% 0;
      color: $color-text;
      font-size: 24px;
      font-weight: 500;
    }
    &--icon {
      padding: 0 3% 0;
      color: $color-text;
      font-size: 24px;
      cursor: pointer;
    }
  }

  &_text {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 5%;
    background-color: #f6f6f6;
    color: $color-primary;
    font-size: 1.5em;
    font-weight: 400;
    flex-grow: 1;
    &.open {
      //color: $color-background;
      font-weight: 400;
      // font-size: 1em;
    }
    &-equipment {
      font-family: $font-family-main;
      font-size: 1em;
      font-weight: 400;
      margin: 1% 0 0;
      color: $color-background;
    }
  }
}

// Error Page styles
.error_container {
  width: 100%;
  display: flex;
  @include center-align-column;
  font-family: $font-family-main;

  p:nth-child(1) {
    margin: 0;
    font-size: 18em;
    font-weight: 700;
    color: $color-primary;
  }

  p:nth-child(2) {
    margin: 3% 0 7%;
    font-size: 36px;
    font-weight: 500;
    color: $color-primary;
  }
  .error-navlink {
    margin-bottom: 5%;
    color: $color-background;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: underline;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    p:nth-child(1) {
      font-size: 6em;
    }
    p:nth-child(2) {
      font-size: 1.1em;
    }
  }
}

// House Page
.house {
  &__content {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }
  }
  &-tag {
    display: inline-flex;
    align-items: center;
    width: auto;
    padding: 5% 20% 5%;
    margin: 0 auto 0 0;
    & > *:not(:first-child) {
      margin-left: 0;
    }
    //margin: 0 5% 0 0;
    font-size: 1em;
    font-weight: 700;
    border-radius: $radius;
    background-color: $color-primary;
    color: $color-text;
  }
  @include flex-column;
  &_rating {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    margin-top: 5%;
    &-on {
      color: $color-primary;
    }
    &-off {
      color: #e3e3e3;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      max-width: 50%;
      font-size: 1em;
    }
  }

  &_alltags {
    //width: 60%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: start;
    margin-top: 2%;
  }

  &_tags-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &_location {
    color: $color-background;
    font-weight: $font-weight;
    font-size: 18px;
  }
  &_title {
    font-size: 2em;
    font-weight: $font-weight;
    margin: $margin;
    color: $color-primary;
  }
}

.host {
  display: flex;
  &__maincontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--picture {
      border-radius: 50%;
      width: 8vw;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &--picture {
      border-radius: 50%;
      width: 64px;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 32px;
      }
    }
    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: row;
    }
  }
  &__namecontainer {
    display: flex;
    flex-direction: column;
  }
  &--name {
    color: $color-primary;
    margin-right: 10px;
    font-size: 1.2em;
    white-space: pre-wrap;
  }
}

.description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: $margin;

  &__container_title {
    border-radius: $radius;
    font-size: $font-size;
    font-weight: $font-weight;
    background-color: $color-primary;
    width: 40%;
    min-height: 40px;
    margin: 1%;
    padding: 0 2% 0;
    color: $color-text;
    @include flex-row;
    @include center-items-justify;
  }
  .house_modal {
    background-color: $color-primary;
    @include flex-column;
  }
}
// Slides
.slides-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &--bloc {
    width: 100%;
    position: relative;
  }
  &__nbr {
    position: absolute;
    //top: 50%;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-text;
    font-size: 1em;
    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
      
    }
  }
  &__img {
    width: 100%;
    height: 50vh;
    border-radius: $radius;
    object-fit: cover;
  }

  &__arrow {
    position: absolute;
    color: $color-text;
    font-size: 3em;
    cursor: pointer;
    z-index: 1;
    &--left {
      left: 10px;
      margin: 0;
    }
    &--right {
      right: 10px;
      margin: 0;
    }
  }
}

// Footer styles
.footer {
  width: 100%;
  height: 25vh;
  margin-top: auto;
  background-color: $color-background;
  color: $color-text;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  font-family: $font-family-main;
  @include center-items-justify;

  .footer-logo {
    margin-bottom: 2%;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    height: 20vh;
    font-size: 12px;

    h3 {
      width: 40%;
      word-break: break-word;
      white-space: normal;
    }
  }
}
