// Global styles
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
}

main {
  margin: 0 5vw 0;
}
